.portfolio__container{
    display: grid ;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 2.5rem;
}

.portfolio__items{
    background: var(--color-bg-variant) ;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__items:hover{
    border-color: var(--color-primary-variant) ;
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__items h3{
    text-align: center;
    margin: 1.2rem 0 .3rem;
}

.portfolio__items p{
    text-align: center;
    font-weight: 300;
    margin-bottom: .7rem ;
}


.portfolio__items-cta{
    display: flex ;
    justify-content: center;
    gap:1rem;
    margin-bottom: 1rem;   
}

/* =========== Medidas Querys (Tamaño Medio) =========== */

@media screen and (max-width: 1024px) { 

    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    
}


/* =========== Medidas Querys (Tamaño Medio) =========== */

@media screen and (max-width: 600px) {

    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
    
}
